html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	height: 100vh;
	background-color: #111;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

.forms {
	width: 50%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.users__list {
	width: 30%;
	padding: 10px;
	background-color: #fff;
	overflow: scroll;
	overflow-x: hidden;
}

.user {
	width: 100%;
	padding: 10px;
	background-color: #ccc;
	margin-bottom: 10px;
}



form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.group {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	position: relative;
}

.group i {
	position: absolute;
	right: 25%;
	top: 50%;
	bottom: 0;
	transform: translateY(-50%);
	color: #4a4c4a;
	cursor: pointer;
}

.show__pass.active {
	color: #fff;
}


input {
	display: block;
	padding: 10px;
	width: 50%;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ffbb00;
	outline: none;
	font-family: serif;
	color: #fff;
}

.btn {
	padding: 10px 20px;
	border: none;
	font-family: monospace;
	font-size: 20px;
	transition: .2s;
	outline: none;
	cursor: pointer;
	background-color: #fff;
}
.btn:hover {
	transition: .2s;
	background-color: #ffbb00;
	color: #111;
}

.successful,
.unsuccessful {
	display: block;
	position: absolute;
	width: 50%;
	padding: 10px;
	background-color: #30C439;
	left: 50%;
	top: 0;
	transform: translate(-50%,-400%);
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	transition: .5s;
}

.unsuccessful {
	background-color: #ED401B;
}

.successful.active,
.unsuccessful.active {
	transition: .5s;
	transform: translate(-50%,0%);
}
