html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper h1 {
	font-size: 3rem;
	margin-bottom: 30px;
	color: #4a4c4a;
}


.sign__with-social {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;
}


.sign__with-title {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.with__social-list {
	display: flex;
	align-items: start;
	position: relative;
	width: 350px;
}

.with__social-list a {
	width: 70px;
	height: 70px;
	font-size: 25px;
	color: #111;
	transition: .3s;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.with__social-list-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 0 20px;
	z-index: -1;
	box-shadow: 0px 5px 5px #ccc;
	transition: .4s;
}

.with__social-list a:nth-child(1).active__link ~ .with__social-list-indicator{
	transition:.4s;
	transform:translateX(calc(70px * 0));
}
.with__social-list a:nth-child(2).active__link ~ .with__social-list-indicator{
	transition:.4s;
	transform:translateX(calc(70px * 1));
}
.with__social-list a:nth-child(3).active__link ~ .with__social-list-indicator{
	transition:.4s;
	transform:translateX(calc(70px * 2));
}
.with__social-list a:nth-child(4).active__link ~ .with__social-list-indicator{
	transition:.4s;
	transform:translateX(calc(70px * 3));
}
.with__social-list a:nth-child(5).active__link ~ .with__social-list-indicator{
	transition:.4s;
	transform:translateX(calc(70px * 4));
}


.with__social-list a:hover {
	transition: .3s;
	color: #26A69A;
}


.have__account {
	display: block;
	text-align: center;
	margin-top: 30px;
	color: #4a4c4a;
	transition: .2s;
}

.have__account:hover {
	color: #26A69A;
	transition: .2s;
}
.inputs__wrapper {
	width: 60%;
	position: relative;
	margin: 0 auto;
}

.sign__up,
.sign__in {
	padding-top: 30px;
}
.row {
	margin-bottom: 15px !important;
}

.successful,
.unsuccessful,
.warning {
	display: block;
	position: fixed;
	width: 50%;
	padding: 10px;
	background-color: #00a86b;
	left: 50%;
	top: 0;
	transform: translate(-50%,-400%);
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	transition: .5s;
}

.unsuccessful {
	background-color: #820000;
}

.warning {
	background-color: #ffbb00;
}

.successful.active,
.unsuccessful.active,
.warning.active {
	transition: .5s;
	transform: translate(-50%,0%);
}